.question-author:hover,
.question:hover {
  cursor: pointer;
}

.userpic {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.main-app-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100%;
}

.question-tag {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: #337ab7;
}

.link:focus,
.link:hover {
  color: #23527c;
  text-decoration: underline;
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}